.main_roll {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 170px;
}
.card_roll {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-self: auto;
}

.main_roll > h3 {
  text-align: start;
  margin-left: 10%;
  font-weight: bold;
  font-size: 24px;
}
