/* .main_roll {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 170px;
}
.card_roll {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-self: auto;
}

.main_roll > h3 {
  text-align: start;
  margin-left: 4%;
  font-weight: bold;
  font-size: 24px;
  margin-left: 1rem;
} */
.container_card_roll {
  margin-top: 40px;
  margin-left: -187px;
}
.card_roll {
  margin-right: 187px;
}
.titulo_principal {
  font-weight: bold;
  font-size: 24px;
}
