.main_roll {
  width: 88%;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 100px;
}
.card_roll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: auto;
}
.main_roll > h3 {
  text-align: left;
  margin-left: 75px;
  font-weight: bold;
  font-size: 24px;
}
