.container {
  width: 241px;
  height: 224px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  transition: 300ms;

  margin-left: 70px;
  float: left;
}
.banner {
  background-color: rgba(255, 255, 255, 0.63);
  opacity: 0.9;
  width: 241px;
  height: 54px;
  position: absolute;

  z-index: 90;
  color: black;
  transition: 300ms;
}
.cardImage {
  width: 241px;
  height: 224px;
  z-index: 2;
}
.banner_info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 241px;
  height: 54px;
}
.banner_left {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.banner_left > p {
  line-height: 0.4;
  width: 98px;
}

.banner_price {
  color: #da4167;
  font-weight: bold;
  width: 68px;
  padding-right: 3rem;
}
.container:hover {
  box-shadow: 5px 10px 18px #464646;
}
.container:hover .banner {
  background-color: rgb(186, 182, 182);
  opacity: 0.7;
  color: black;
  font-size: 17px;
}

.heart_icon {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.star_icon {
  width: 20px;
  height: 20px;

  margin-right: 2rem;
}
