._shoppingButton{
    background-color: #FFFFFF;
    width: 194px;
    height: 40px; 
    margin-left: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

._shoppingButton > img{
    width: 18px;
    height: 18px;   
}

._spanShopping{
    display:flex;
    width: 100px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;   
    color: #798591;
    margin-left: 12px;
}

._contador{
    width: 33px;
    height: 22px;
    border: 2px solid #DFBDBF;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 12px;  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    align-items: center;
    letter-spacing: 0.02em;
    color: #D03543;
}