.form_main_category {
  width: 154px;
  height: 38px;
  margin-top: 79px;
  margin-left: 61px;
  font-size: 13px;
  color: #798590;
}

.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 81px;

  color: #798591;
}

.button {
  width: 36px;
  height: 14px;
  margin-bottom: 200 px;
  margin-right: 100px;
  background: none;
  border: none;
  color: #da4167;
}
