._headerContainer > div {
  display: flex;
  align-items: center;
}

._headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 34px;
  padding-top: 22px;
  padding-right: 34px;
}
