._notifContainer {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

._notifContainer > button > img {
  width: 16px;
  height: 18px;
  margin-left: -5px;
}

._notifContainer > button {
  border: none;
  background-color: #ffffff;
  width: 16px;
  height: 18px;
}

._notifContainer > span {
  background-color: #dfbdbf;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 13.5px;
  margin-right: 20px;
}
