footer {
  color: #4f4f4f;
  background-color: #f9f9f9;
}

hr:nth-child(1) {
  display: flex;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}

hr:nth-last-child(2) {
  display: flex;
  align-self: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 1px;
}

footer > ._logoContainer > img {
  margin-right: 0;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-links > li {
  display: flex;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-links > li > a {
  text-decoration: none;
  color: #4f4f4f;
}

.social > ul > li:nth-last-child(1) {
  margin-right: 0;
}

.copyright-social-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.social {
  display: flex;
  flex-direction: row;
}

.social > li {
  display: flex;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 0;
}

.instagram-logo,
.facebook-logo,
.twitter-logo,
.youtube-logo {
  height: 25px;
  width: 25px;
}
.logoContainer{
  display: flex;
  justify-content: center;
  margin: 36px;
}