._headContainer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 60px;
}
._tabheadContainer {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #798591;
  text-transform: uppercase;
  margin-right: 37px;
  margin-left: 37px;
  margin-top: 25px;
}
._tabheadContainer :hover {
  color: #da4167;
  border-bottom: 4px solid #da4167;
  transition: 0.1s;
}

#link {
  text-decoration: none;
}
