._tabheadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 62px;
  width: 100%;
}
._tabheadContainer > div {
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  margin-top: 28px;
  letter-spacing: 0.02em;
  color: #798591;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.tab {
  margin-left: 37px;
  margin-right: 37px;
  height: 31px;
  line-height: 14px;
}
.tab :hover {
  color: #da4167;
  border-bottom: 4px solid #da4167;
  transition: 0.1s;
}
.tabSubheadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 62px;
  width: 100%;
}
